<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-加入我们</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./dist/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/page-sj-acticle-joinUs.css" />
</head>

<body class="joinus">
    <!-- 头部 -->
    <div class="wrapper head">
        <!--头部导航-->
        <header>
            <div class="sui-navbar">
                <div class="navbar-inner">
                    <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
                    <ul class="sui-nav" id="home-page-top-url-left">

                    </ul>
                    <form class="sui-form sui-form pull-left">
                        <input type="text" placeholder="输入关键词...">
                        <span class="btn-search fa fa-search"></span>
                    </form>
                    <div class="sui-nav pull-right info">
                        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
                        <li class="hover">
                            <span class="fa fa-plus "></span>
                            <ul class="hoverinfo" id="home-page-top-url-right">

                            </ul>
                        </li>
                        <li><a href="./person-homepage.html" target="_blank" class="homego"><img
                                src="./img/widget-photo.png" alt="用户头像"></a></li>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="banner">
        <img src="./img/asset-banner.png" alt="">
    </div>

    <div class="nav">
        <div class="wrapper">
            <div class="nav-headline">
                <ul class="navs">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">服务条款</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li class="active"><a href="#">加入我们</a></li>
                    <li><a href="#">意见反馈</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 主要内容 -->
    <div class="wrapper">
        <div class="sj-content">
            <div class="card-line-job">
                <h4 class="text-center">加入我们</h4>
                <div class="cards sui-row-fluid">
                    <div class="card-item span4">
                        <div class="item-content">
                            <h4 class="card-title">高级产品经理</h4>
                            <div class="card-content">
                                <h5 class="tit">岗位职责：</h5>
                                <p>1. 负责米扑科技iOS移动产品的核心研发，编写高质量的代码</p>
                                <p>2. 配合产品经理，深度参与手机产品需求和功能定义等</p>
                                <p>3. 指导并带领初级工程师共同完成研发任务</p>
                                <br/>
                                <h5 class="tit">岗位要求：</h5>
                                <p>1. 工作认真负责，细致踏实，强烈的求知欲和进取心</p>
                                <p>2. 具备较强的编码能力，良好的设计能力和编程习惯</p>
                                <p>3. 熟练掌握Objective-C，能独立开发iPhone/iPad App</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-item span4">
                        <div class="item-content">
                            <h4 class="card-title">高级产品经理</h4>
                            <div class="card-content">
                                <h5 class="tit">岗位职责：</h5>
                                <p>1. 负责米扑科技iOS移动产品的核心研发，编写高质量的代码</p>
                                <p>2. 配合产品经理，深度参与手机产品需求和功能定义等</p>
                                <p>3. 指导并带领初级工程师共同完成研发任务</p>
                                <br/>
                                <h5 class="tit">岗位要求：</h5>
                                <p>1. 工作认真负责，细致踏实，强烈的求知欲和进取心</p>
                                <p>2. 具备较强的编码能力，良好的设计能力和编程习惯</p>
                                <p>3. 熟练掌握Objective-C，能独立开发iPhone/iPad App</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-item span4">
                        <div class="item-content">
                            <h4 class="card-title">高级产品经理</h4>
                            <div class="card-content">
                                <h5 class="tit">岗位职责：</h5>
                                <p>1. 负责米扑科技iOS移动产品的核心研发，编写高质量的代码</p>
                                <p>2. 配合产品经理，深度参与手机产品需求和功能定义等</p>
                                <p>3. 指导并带领初级工程师共同完成研发任务</p>
                                <br/>
                                <h5 class="tit">岗位要求：</h5>
                                <p>1. 工作认真负责，细致踏实，强烈的求知欲和进取心</p>
                                <p>2. 具备较强的编码能力，良好的设计能力和编程习惯</p>
                                <p>3. 熟练掌握Objective-C，能独立开发iPhone/iPad App</p>
                            </div>
                        </div>
                    </div>
                    <p class="send">您可以将自己的简历发送至邮箱 jobs@coder.com</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <div class="footer-bottom">
                <iframe name="right" id="iframepage"  src="/footer" width="1300px" height="100%"   frameborder="0" ranat="server"></iframe>
            </div>
        </div>
    </div>

<script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })
</script>
</body>