<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-帮助中心</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->
    <!-- <script type="text/javascript" src="../../plugins/bootstrap/dist/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./dist/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/page-sj-acticle-helpCenter.css" />
</head>

<body class="help">
    <!-- 头部 -->
    <div class="wrapper head">
        <!--头部导航-->
        <header>
            <div class="sui-navbar">
                <div class="navbar-inner">
                    <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
                    <ul class="sui-nav" id="home-page-top-url-left">

                    </ul>
                    <form class="sui-form sui-form pull-left">
                        <input type="text" placeholder="输入关键词...">
                        <span class="btn-search fa fa-search"></span>
                    </form>
                    <div class="sui-nav pull-right info">
                        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
                        <li class="hover">
                            <span class="fa fa-plus "></span>
                            <ul class="hoverinfo" id="home-page-top-url-right">

                            </ul>
                        </li>
                        <li><a href="./person-homepage.html" target="_blank" class="homego"><img
                                src="./img/widget-photo.png" alt="用户头像"></a></li>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="banner">
        <img src="./img/asset-banner.png" alt="">
    </div>
    <div class="nav">
        <div class="wrapper">
            <div class="nav-headline">
                <ul class="navs">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">服务条款</a></li>
                    <li class="active"><a href="#">帮助中心</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">意见反馈</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 主要内容 -->
    <div class="wrapper">
        <div class="sj-content">
            <div class="carousel">
                <h3>帮助中心</h3>
                <div class="help-content">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        1.提问时该注意的事项，什么样的问题才是受欢迎的
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    <p>自己无法独立解决，已经做过很多尝试</p>
                                    <p>搜索引擎没有满意答案（google 起码过四页）</p>
                                    <p>本站站内搜索不到满意答案</p>
                                    <p>自己解决问题的独立性一定要培养出来，多做尝试以避免其他人在你的问题上可能浪费的时间，同时请不要轻易放弃 Google。</p>
                                    <p>自己无法独立解决，已经做过很多尝试</p>
                                    <p>搜索引擎没有满意答案（google 起码过四页）</p>
                                    <p>本站站内搜索不到满意答案</p>
                                    <p>自己解决问题的独立性一定要培养出来，多做尝试以避免其他人在你的问题上可能浪费的时间，同时请不要轻易放弃 Google。</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        2.提问时该注意的事项，什么样的问题才是受欢迎的
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <p>自己无法独立解决，已经做过很多尝试</p>
                                    <p>搜索引擎没有满意答案（google 起码过四页）</p>
                                    <p>本站站内搜索不到满意答案</p>
                                    <p>自己解决问题的独立性一定要培养出来，多做尝试以避免其他人在你的问题上可能浪费的时间，同时请不要轻易放弃 Google。</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false"
                                       aria-controls="collapseThree">
                                        3.提问时该注意的事项，什么样的问题才是受欢迎的
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                                <div class="panel-body">
                                    <p>自己无法独立解决，已经做过很多尝试</p>
                                    <p>搜索引擎没有满意答案（google 起码过四页）</p>
                                    <p>本站站内搜索不到满意答案</p>
                                    <p>自己解决问题的独立性一定要培养出来，多做尝试以避免其他人在你的问题上可能浪费的时间，同时请不要轻易放弃 Google。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <script>
                $(function () {
                    var shItem = $()
                    $('.help-item h4').click(function () {
                        $(this).siblings('.item').show();
                        // var
                    })
                })

            </script> -->
        </div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="footer-bottom">
                <iframe name="right" id="iframepage"  src="/footer" width="1300px" height="100%"   frameborder="0" ranat="server"></iframe>
            </div>
        </div>
    </div>

<script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })
</script>
</body>