<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-联系我们</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./dist/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/page-sj-acticle-contactus.css" />
</head>

<body class="contactme">
    <!-- 头部 -->
    <div class="wrapper head">
        <!--头部导航-->
        <header>
            <div class="sui-navbar" >
                <div class="navbar-inner">
                    <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
                    <ul class="sui-nav" id="home-page-top-url-left">

                    </ul>
                    <form class="sui-form sui-form pull-left">
                        <input type="text" placeholder="输入关键词...">
                        <span class="btn-search fa fa-search"></span>
                    </form>
                    <div class="sui-nav pull-right info">
                        <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
                        <li class="hover">
                            <span class="fa fa-plus "></span>
                            <ul class="hoverinfo" id="home-page-top-url-right">

                            </ul>
                        </li>
                        <li><a href="./person-homepage.html" target="_blank" class="homego"><img
                                src="./img/widget-photo.png" alt="用户头像"></a></li>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="banner">
        <img src="./img/asset-banner.png" alt="">
    </div>
    <div class="nav">
        <div class="wrapper">
            <div class="nav-headline">
                <ul class="navs">
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">服务条款</a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li class="active"><a href="#">联系我们</a></li>
                    <li><a href="#">加入我们</a></li>
                    <li><a href="#">意见反馈</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 主要内容 -->
    <div class="wrapper">
        <div class="sj-content">
            <div class="card-line">
                <h4 class="text-center">联系我们</h4>
                <div class="cards sui-row-fluid">
                    <div class="card-item span4">
                        <div class="item-content">
                            <h4 class="card-title">市场合作</h4>
                            <p class="card-content">
                                江苏传智播客教育科技股份有限公司（简称传智播客）是一家专门致力于高素质软件开发人才培养的高科技公司。传智播客致力于为企业优选一流的人才的培训理念，以“学员自学入门教程，通过基础考核后进行强化培训”为招生原则，以“针对企业需求，重视基础理论建设，强化高端应用技能”为教学目标，以“高薪保证强大的资深教育团队”为教学后盾，彻底解决所有培训学员的后顾之忧，并解决用人企业难以招聘到合格人才的困扰。
                            </p>
                        </div>
                    </div>
                    <div class="card-item span4">
                        <div class="item-content">
                            <h4 class="card-title">传智开发者支持</h4>
                            <p class="card-content">
                                coder 欢迎广大开发者前来交流，我们尽可能地为大家提供一个干净舒适的技术交流平台。在这里，可以与更多的开发者进行深度探讨，帮助你更快速地进步。
                            </p>
                        </div>
                    </div>
                    <div class="card-item span4">
                        <div class="item-content">
                            <h4 class="card-title">传智问答社区</h4>
                            <p class="card-content">
                                江苏传智播客教育科技股份有限公司（简称传智播客）是一家专门致力于高素质软件开发人才培养的高科技公司。传智播客致力于为企业优选一流的人才的培训理念，以“学员自学入门教程，通过基础考核后进行强化培训”为招生原则，以“针对企业需求，重视基础理论建设，强化高端应用技能”为教学目标，以“高薪保证强大的资深教育团队”为教学后盾，彻底解决所有培训学员的后顾之忧，并解决用人企业难以招聘到合格人才的困扰。
                            </p>
                        </div>
                    </div>
                    <p class="send">如有合作意向，请发送公司资料、合作概要、合作方式等材料信息至 xx@coder.com 与我们进一步联系。</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <div class="footer-bottom">
                <iframe name="right" id="iframepage"  src="/footer" width="1300px" height="100%"   frameborder="0" ranat="server"></iframe>
            </div>
        </div>
    </div>

    <script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })
</script>
</body>