<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-活动</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="./dist/plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./dist/css/widget-head-foot.css" />
</head>

<body> 
    <!--引用组件-->
    <div class="activity-head">
            <div class="wrapper">
                    <!--头部导航-->
<header>
  <div class="sui-navbar">
    <div class="navbar-inner">
      <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
      <ul class="sui-nav" id="home-page-top-url-left">

      </ul>
      <form class="sui-form sui-form pull-left">
        <input type="text" placeholder="输入关键词...">
        <span class="btn-search fa fa-search"></span>
      </form>
      <div class="sui-nav pull-right info">
          <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
          <li class="hover">
            <span class="fa fa-plus "></span>
            <ul class="hoverinfo" id="home-page-top-url-right">

            </ul>
          </li>
          <li><a href="./person-homepage.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像"></a></li> 
      </div>
  </div>
  </div>
  
</header>
    

                    </div>
    </div>
    
    <!--中间布局-->
    <div class="wrapper activities">
    
    </div>

    <!--底部版权-->
    <div class="footer">
        <div class="wrapper">
            <div class="footer-bottom">
                <iframe name="right" id="iframepage"  src="/footer" width="1300px" height="100%"   frameborder="0" ranat="server"></iframe>
            </div>
        </div>
    </div>

<script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })
</script>
</body>