<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-我的问答</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./dist/plugins/normalize-css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/yui/cssgrids-min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui-append.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/css/widget-base.css" />
  <link rel="stylesheet" type="text/css" href="./dist/css/widget-head-foot.css" />
  <link rel="stylesheet" type="text/css" href="./dist/css/page-sj-person-myanswer.css" />
 </head> 
 <body> 
  <div class="wrapper"> 
   <!--引用组件--> 
   <!--头部导航--> 
   <header> 
    <div class="sui-navbar"> 
     <div class="navbar-inner"> 
      <a href="javaScript:void(0);" class="sui-brand"><img src="./dist/img/asset-logo-black.png" alt="社交" /></a>
      <ul class="sui-nav" id="home-page-top-url-left">

      </ul> 
      <form class="sui-form sui-form pull-left"> 
       <input type="text" placeholder="输入关键词..." /> 
       <span class="btn-search fa fa-search"></span> 
      </form> 
      <div class="sui-nav pull-right info"> 
       <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li> 
       <li class="hover"> <span class="fa fa-plus "></span>
        <ul class="hoverinfo" id="home-page-top-url-right">

        </ul> </li> 
       <li><a href="./person-homepage" target="_blank" class="homego"><img src="./dist/img/widget-photo.png" alt="用户头像" /></a></li>
      </div> 
     </div> 
    </div> 
   </header> 
  </div> 

  <div class="myhome-personinfo" style="background-color:#AEDD81"> 
   <div class="wrapper"> 
    <div class="person-baseinfo"> 
     <!--头像信息--> 
     <div class="photo"> 
      <img src="./img/widget-myphoto.jpg" alt="" class="person" /> 
      <div class="share"> 
       <span><img src="./img/asset-QQ.png" alt="" width="34" height="28" /></span> 
       <span><img src="./img/asset-weixin.png" alt="" width="28" height="28" /></span> 
       <span><img src="./img/asset-weibo.png" alt="" width="28" height="28" /></span> 
      </div> 
     </div> 
     <!--文字信息--> 
     <div class="info"> 
      <h1>Web爱好者<span class="allinfo"><a href="./person-myfile.html" target="_blank">查看完整档案</a></span></h1> 
      <ul class="fill"> 
       <li> <i class="fa fa-map-marker" aria-hidden="true"></i> <span class="edit-item"> 填写现居城市</span> 
        <form action="" class="sui-form form-inline"> 
         <input type="text" placeholder="现居城市" /> 
         <button class="sui-btn btn-danger save-btn">保存</button> 
        </form> </li> 
       <li> <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span class="edit-item"> 填写毕业院校</span> 
        <form action="" class="sui-form form-inline"> 
         <input type="text" placeholder="院校名称" /> 
         <input type="text" placeholder="所学专业" /> 
         <button class="sui-btn btn-danger save-btn">保存</button> 
        </form> </li> 
       <li> <i class="fa fa-shopping-bag" aria-hidden="true"></i> <span class="edit-item"> 填写所在公司/组织</span> 
        <form action="" class="sui-form form-inline"> 
         <input type="text" placeholder="公司/组织名称" /> 
         <input type="text" placeholder="职位头衔" /> 
         <button class="sui-btn btn-danger save-btn">保存</button> 
        </form> </li> 
       <li> <i class="fa fa-link" aria-hidden="true"></i> <span class="edit-item"> 填写个人网站</span> 
        <form action="" class="sui-form form-inline"> 
         <input type="text" placeholder="个人网站" /> 
         <button class="sui-btn btn-danger save-btn">保存</button> 
        </form> </li> 
      </ul> 
     </div> 
    </div> 
    <!--右侧编辑--> 
    <div class="edit-info"> 
     <h4>个人简介<span class="addedit"><img src="./dist/img/widget-edit.png" width="12" height="12" />编辑</span></h4>
     <div class="info-box"> 
      <div class="edit-intro">
       暂时没有个人简介
      </div> 
     </div> 
    </div> 
    <div class="clearfix"></div> 
   </div> 
  </div> 
  <!-- <script>
    $(function(){
        $(".share .fa").hover(function(){
            $(this).css("opacity","1.0");
        },function(){
            $(this).css("opacity","0.6") 
        })
    })
</script>
<script>
$(function(){
    // 个人简介
    $(".addedit").click(function(){
        var editBox = $(".edit-intro");
        var editBoxtxt = editBox.text();
        var input = $("<div><textarea class='editarea' type='text' /><div class='btns'><button class='sui-btn btn-default btn-cancel'>取消</button><button class='sui-btn btn-info btn-save'>保存</button></div></div>"); 
        editBox.html(input);

        // 点击保存
        $(".edit-intro .btn-save").click(function(){       
            var newval = $(".editarea").val();
            if(newval == ""){
              editBox.html("暂时没有个人简介")
            }else if($.trim(newval) != $.trim(editBoxtxt)){
               editBox.html(newval);
            }
        })
        //点击取消
        $(".edit-intro .btn-cancel").click(function(){       
          editBox.html("暂时没有个人简介")
        })

    });
    $(".edit-item").click(function(){  
        var txt = $(this).text();  //可变的值

        var rightform = $(this).siblings(".sui-form");
        var rightinput = $(this).siblings(".sui-form input").val(); // 输入的值

        rightform.show();

        // $(".save-btn").click(function(){
        //     console.log(rightinput);
        // })



    })
    

})
</script> --> 
  <!--两列布局--> 
  <div class="wrapper  myhome"> 
   <div class="left-list"> 
    <div class="myhome-list"> 
     <ul class="home-list"> 

     </ul> 
    </div> 
    <!-- <script>
    $(function(){
        $(".home-list li").click(function(){
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        })
    })
</script> --> 
   </div> 
   <div class="right-content"> 
    <div class="answers"> 
     <h4><span>我的回答</span></h4> 
     <ul class="answer-list"> 
      <li> <span class="fl good"> <span class="num">8</span> 有用</span> <span class="title"><a href="#">有关PHP初级进阶的问题</a></span> <span class="fr date">4月6日</span> <span class="clearfix"></span> </li> 
      <li> <span class="fl good"> <span class="num">7</span> 有用</span> <span class="title"><a href="#">有关JAVA初级进阶的问题</a></span> <span class="fr date">4月6日</span> <span class="clearfix"></span> </li> 
      <li> <span class="fl good"> <span class="num">6</span> 有用</span> <span class="title"><a href="#">有关HTML5初级进阶的问题</a></span> <span class="fr date">4月6日</span> <span class="clearfix"></span> </li> 
      <li> <span class="fl good"> <span class="num">12</span> 有用</span> <span class="title"><a href="#">有关C++初级进阶的问题</a></span> <span class="fr date">4月6日</span> <span class="clearfix"></span> </li> 
      <li> <span class="fl good"> <span class="num">12</span> 有用</span> <span class="title"><a href="#">有关python初级进阶的问题</a></span> <span class="fr date">4月6日</span> <span class="clearfix"></span> </li> 
     </ul> 
    </div> 
   </div> 
   <div class="clearfix"></div> 
  </div> 
  <div class="footer"> 
   <div class="wrapper"> 
    <div class="footer-bottom">
     <iframe name="right" id="iframepage"  src="/footer" width="1300px" height="100%"   frameborder="0" ranat="server"></iframe>
    </div>
   </div> 
  </div>

  <script src="./dist/plugins/jquery/dist/jquery.js"></script>
  <script src="./dist/layer/layer.js"></script>
  <script src="./dist/js/extract.js"></script>

  <script>
      $(function(){
          //鼠标移动事件
          $(".hover").hover(function(){
              $(".hoverinfo").stop().animate({
                  opacity: "show"
              },"slow");
              $(this).find(".fa-plus").css("color","#e64620");
          },function(){
              $(".hoverinfo").stop().animate({
                  opacity: "hide"
              },"slow");
              $(this).find(".fa-plus").css("color","#000");
          });
      });
</script> 
 </body>
</html>