<!DOCTYPE html>
<html lang="zh-CN">
 <head> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ --> 
  <meta name="description" content="" /> 
  <meta name="author" content="" /> 
  <link rel="icon" href="./img/asset-favicon.ico" /> 
  <title>社交-所有标签</title> 
  <!-- 页面 css js --> 
  <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> --> 
  <link rel="stylesheet" type="text/css" href="./dist/plugins/normalize-css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/yui/cssgrids-min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/sui/sui-append.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/plugins/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="./dist/css/widget-base.css" />
  <link rel="stylesheet" type="text/css" href="./dist/css/widget-head-foot.css" />
  <link rel="stylesheet" type="text/css" href="./dist/css/page-sj-qa-allTag.css" />
 </head> 
 <body> 
  <div class="wrapper"> 
   <!--引用组件--> 
   <!--头部导航--> 
   <header> 
    <div class="sui-navbar"> 
     <div class="navbar-inner"> 
      <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交" /></a>
      <ul class="sui-nav" id="home-page-top-url-left">

      </ul>
      <form class="sui-form sui-form pull-left"> 
       <input type="text" placeholder="输入关键词..." /> 
       <span class="btn-search fa fa-search"></span> 
      </form> 
      <div class="sui-nav pull-right info"> 
       <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li> 
       <li class="hover"> <span class="fa fa-plus "></span>
        <ul class="hoverinfo" id="home-page-top-url-right">

        </ul>
       </li>
       <li><a href="./person-homepage.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像" /></a></li> 
      </div> 
     </div> 
    </div> 
   </header> 
  </div> 

  <!--两列布局--> 
  <div class="wrapper all-tags"> 
   <div class="tags-head"> 
    <h2 class="tag-title">标签</h2> 
    <p class="tag-second">标签是最有效的内容组织形式，正确的使用标签能更快的发现和解决你的问题。</p> 
   </div> 
   <div class="alltags-card"> 
    <ul class="yui3-g tags-list" style="display:block;"> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">HTML5</a></h5> 
      
       <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu color">加关注</a> 
        <span class="guannum"><i class="num">23456</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">Javascript</a></h5> 
      
       <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">5643</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">PHP</a></h5> 
      
       <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">23489</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">Python</a></h5> 
        <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">12323</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">Javascript</a></h5> 
        <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">5643</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">PHP</a></h5> 
        <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">23489</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">Python</a></h5> 
       <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">12323</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">PHP</a></h5> 
      <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">23489</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">Javascript</a></h5> 
       <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">5643</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">PHP</a></h5> 
        <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">23489</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">Python</a></h5> 
        <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">12323</i>人关注</span> 
       </div> 
      </div> </li> 
     <li class="tag-item yui3-u-1-4"> 
      <div class="inner"> 
       <h5 class="title"><a href="qa-tagDetail.html" target="_blank">PHP</a></h5> 
       <div class="guanzhu"> 
        <a class="sui-btn btn-guanzhu">加关注</a> 
        <span class="guannum"><i class="num">23489</i>人关注</span> 
       </div> 
      </div> </li> 
    </ul> 
   </div> 
  </div> 
  <div class="footer"> 
   <div class="wrapper"> 
    <div class="footer-bottom">
     <iframe name="right" id="iframepage"  src="/footer" width="1300px" height="100%"   frameborder="0" ranat="server"></iframe>
    </div> 
   </div> 
  </div> 
  <script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })


// $(function(){
//   var onOff = true;
//     $(".btn-guanzhu").click(function () {
//         if ($(this).onOff) {
//             $(this).text("加关注");
//             $(this).css("color", "#fff");
//             $(this).onOff = false;
//         } else {
//             $(this).text("已关注");
//             $(this).css({"color": "#aba4a4","background-color":"#fbfbfb"});
//             $(this).onOff = true;
//         }
//     });  
// });
</script> 
 </body>
</html>